.learnermodule {
    display: inline-block;
    text-align: center;
    background-color: white;
    background-color: rgba(157,166,198,.2);
    width: 90%;
    padding: 20px;
    margin-top: 20px;
}

.fakeimg {
    display: inline-block;
    text-align: center;
    background-color: #aaa;
    width: 90%;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.realimg {
    display: inline-block;
    text-align: center;
    width: 80%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header-container {
    float: right;
    display: flex;
    flex-direction: row;
}

.header-container > div {
    width: 125px;
    height: 125px;
    margin-top:5px;
    margin-right: 10px;
    padding: 10px;
    border-right: 2px solid white;
}

.header-container > div:last-child {
    border-right: none;
}

#creators {
    margin-bottom: 25px;
    width: 37.5%;
    height: auto;
}

/*Defines contact bar at bottom of page*/
footer li {
    display: block;
    padding: 8px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    border-right: 1px solid white;
}

/*Fixes Footer*/
footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    right: 5px;
    width: 100%;
    background-color: #4CAF50;
    height: 40px;
}