.learnermodule {
    display: inline-block;
    text-align: center;
    background-color: white;
    width: 90%;
    padding: 20px;
    margin-top: 20px;
}

.fakeimg {
    display: inline-block;
    text-align: center;
    background-color: #aaa;
    width: 90%;
    padding: 20px;
}

.flex-container {
    float: right;
    display: flex;
    flex-direction: row;
}

.flex-container > div {
    width: 125px;
    height: 125px;
    margin-top:5px;
    margin-right: 10px;
    padding: 10px;
    border-right: 2px solid white;
}

.flex-container > div:last-child {
    border-right: none;
}