html, body {
    height: 100%;
}

body {
    font-family: Arial;
    padding: 20px;
}

/*Sets the background image*/
#bg {
    background-image: url("images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*General list characteristics*/

footer ul {
    list-style-type: none;
    margin: 0;
    padding-top: 5px;
    padding-right: 25px;
    overflow: hidden;
}

header p {
    display:block;
}

h1 {
    display:inline-block;
    font-size: 3em;
    margin: 2px;
}

.heading {
    margin: 2px 2px 2px 175px;
}

li:last-child{
    border-right: none;
}
   
/*Defines navigation bar characteristics*/
li a {
    display: inline-block;
    color: white;
    text-decoration: none;
}    

nav div:hover {
    background-color:navajowhite
}


.right {
    float: right;
}


.left {
    float: left;
}

header {
    height: 150px;
    margin-bottom: 20px;
    background-color: #4CAF50;
}

.main-image {
    display: block;
    margin-left: 35%;
    margin-right: 35%;
    height: auto;
    width: 30%;
    border-radius: 100px;
}

.rcorner {
    border-radius: 50px;
}

.center {
    text-align: center;
}

/*Used for title text*/
.relative {
    display: inline-block;
    float: left;
    margin-right: 210px;
    margin-left: 30px;
}

/*Used for title text*/
.page-heading {
    font-family: 'Bauhaus 93','Gill Sans', sans-serif;
    color: white;
}

.icon {
    margin-top: 6.25px;
    padding: 0px;
    display:inline-block;
    float: left;
}

/*Used to style text on home page*/
#main-text {
    font-size: 24px;
}

/*Learner page flex container styling*/
.learnermodule {
    text-align: center;
    background-color: white;
    background-color: rgba(157,166,198,.2);
    width: 60%;
    padding: 20px;
    margin-top: 20px;
}
