/*General list characteristics*/
ul {
    list-style-type: none;
    margin: 0;
    padding-top: 5px;
    padding-right: 25px;
    overflow: hidden;
}

h1 {
    font-size: 3em;
    margin: 2px;
}

.heading {
    margin: 2px 2px 2px 175px;
}

li:last-child{
    border-right: none;
}
   
/*Defines navigation bar characteristics*/
li a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
    border-right: 1px solid white;
}    

li a:hover {
    background-color:navajowhite
}

/*Defines Contact bar at bottom of page*/
footer li {
    display: block;
    padding: 8px;
    color: white;
    font-size: 12px;
    text-decoration: none;
    border-right: 1px solid white;
}   

li {
    float: right;
}

/*Fixes Footer*/
footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    background-color: #4CAF50;
}


.left {
    float: left;
}

header {
    height: 150px;
    margin-bottom: 20px;
    background-color: #4CAF50;
}

.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 30%;
    border-radius: 100px;
}

.rcorner {
    border-radius: 50px;
}

.center {
    text-align: center;
}